.panel.panel-default
  .panel-heading
    用户管理&nbsp&nbsp&nbsp
    = link_to "+添加用户",add_user_path,:class => "btn btn-default"
  %table.table
    %tr
      %td(align="center")  编号
      %td(align="center")  用户名
      %td(align="center")   操作
    -  id=(@us-1)*10
    - @user.each do |p|
      %tr
        %td(align="center")= id=id+1
        %td(align="center")=link_to p.name,welcome_path(:name=>p[:name])
        %td(align="center")
          =link_to "删除",delete_user_path(:name=>p[:name]), data: { confirm: '您确定要删除'+p[:name]+'？'}, :method => :delete
          =link_to " 修改密码",modify_passwords_path(:name=>p[:name])

.pagination(style="margin-left: 1050px;margin-top: 10px" )
  = will_paginate @user, :previous_label=> '<<', :next_label=> '>>'

