<div class="header">
  <div class="contaoner clearfix">
    <!--<a class="header-left" href="/">-->
    <!--HOME-->
    <!--</a>-->
    <ul id="user-links" class="header-right">
      <% if current_user %>
          <p style="position: absolute;left: 1200px;top: 20px">你好&nbsp;<%= current_user.name %></p>

          <p><%= link_to "退出", logout_path, method: "delete", style: "position: absolute;left: 1300px;top: 20px;" %></p>
      <% end %>
    </ul>
  </div>
</div>